body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border: 2px solid black;
    margin-bottom: 10px;
}

h1 {
    color: red;
}

h2, h3, p {
    margin: 30px 10px;
}

.underline {
     text-decoration: underline;
}

.center {
    text-align: center;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.dotted {
    border: 2px dotted black;
    margin: 25px;
}

.white {
    color: white;
}

.greenbg {
    background-color: green;
}